# Zeyecx
*test*.py

# Server
*.flag

# PyCharm
.idea/
output/
src/


# Config
config.*
*.ini
faultybot/ftpdata.py

# PIP Installer
*pip.py

# Chache
__pycache__

# Temp Files
*.DS_Store
*.tmp

# Venv Enviroment
venv
venv/

# Example
!*.example
