# Zeyecx
*test*.py

dist
faultybot.*

# Server
*.flag

# PyCharm
.idea/
output/
src/

# Config
config.*

# PIP Installer
*pip.py

# Chache
__pycache__

# Temp Files
*.DS_Store
*.tmp

# Venv Enviroment
venv
venv/

# Example
!*.example

# teamlist to check by cron
faultybot/teams_to_check.json

# VSCode
.vscode/
.vs/
